server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/waa_lab6
    username: postgres
    password: postgres

    driver-class-name: org.postgresql.Driver
    hikari:
      minimumIdle: 2
      maximumPoolSize: 10
      idleTimeout: 30000
      maxLifetime: 60000
      leakDetectionThreshold: 180000
      connectionTimeout: 120000
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      jdbc:
        lob:
          non_contextual_creation: true
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: true
  main:
    lazy-initialization: false
  jackson:
    default-property-inclusion: non_null

keycloak:
  realm: SpringBootKeyCloak
  auth-server-url: http://localhost:8180/auth
  resource: login-app
  public-client: true
  bearer-only: true

file-storage:
  prop:
    upload-dir: Users/javokhir/Downloads